* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

/* general rules */
:root {
    --main-color: #e02f6b;
    --primary-color: #ffa500;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #fff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(30px);
    --clip-path: polygon(100% 0,95% 50%, 100% 99%,0% 100%,5% 50%,0% 0%);
}

body {
    height: auto;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    font-size: 18px;
    font-family: 'Poppins',
    sans-serif;
    color: blueviolet;
    font-weight: 300;
    line-height: 1.5;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.align-items-center{
    align-items: center;
}
.btn{
    position: relative;
    line-height: 1.5;
    border: 1px solid rgba(12,0,1,0.1);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    color: var(--blue-dark);
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.5s ease;
    z-index: 1000;

}
.btn:hover{
    border: 1px solid var(--primary-color);
    color: var(--blue-dark);
    transition: .5s ease-in-out;
}
.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color:var(--primary-color);
    width: 0;
    height: 100%;
    transition: .5s ease-in-out;
    z-index: -1;
}
.btn:hover::after{
    width: 100%;
    transition: .5s ease-in-out;
}
/* section */
section {
    width: 100%;
    /* margin: auto; */
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* ====home section ==== */
.home{
    color: '';
    background-image: linear-gradient(to top right, var(--main-color), var(--primary-color)  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-backdrop-filter:var(--backdrop-filter-blur) !important;
    backdrop-filter:var(--backdrop-filter-blur) !important;

}
.home::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 30px;
    width: 100%;
    background:var(--cyan-light);
    opacity: 0.8;
    border-radius: 100% 100% 0 0;
}
.home .part1{
    flex: 0 0 50%;
    max-width: 50%;
    margin: 4px 2px;
    padding: 0 4px;
    width: 50%;
    margin: auto;
}
.home .part1 h3{
    font-size: 2.1rem;
    font-weight: 600;
    margin: 30px 20px;
    color: var(--primary-color);
}
.home .part1 p{
    font-size: 18px;
    margin: 10px 30px;
    text-transform: capitalize;
    text-indent: 2px;
}
.home .part1 .home-button{
    margin: 20px 30px;
    padding: 20px;
}
.home .part2{
    flex: 0 0 50%;
    max-width: 49%;
    margin: 40px 2px;
    padding: 20px 4px;
    width: 40%;
}
.home .part2 .img-box{
    padding: 30px;
    width: 100%;
    min-width: 400px;
}
.home .part2 .img-box img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    
}
/* =======Recommended section ==== */
.recommended .row h4{
    font-size: 24px;
    color: var(--main-color);
    padding: 10px 5px;
    margin: 10px 0;
    width: 20%;
    text-align: center;
    background: var(--primary-color);
    clip-path: var(--clip-path);
}
.recommended .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
}
.recommended .cards .card-box{
    padding: 2rem;
    background-color: var(--cyan-light);
    outline: .1rem solid rgba(0,0,0,0.08);
    outline-offset: -.5rem;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    text-align: center;
    border-radius: .5rem;
    transition: all 0.3s ease;
}
.recommended .cards .card-box:hover{
    outline-offset: 0;
    outline: .15rem solid var(--blue-dark);

}
.recommended .cards .card-box .card-img{
    width: 100%;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommended .cards .card-box .card-img img{
    height: 200px;
}
.recommended .cards .card-box .card-info .card-intro{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.recommended .cards .card-box .card-info .card-intro h5{
    font-size: 18px;
    line-height: 1.5rem;
    color: var(--primary-color);
    text-transform: capitalize;
    padding-top: 4px;
}
.recommended .cards .card-box .card-info .card-intro span{
    font-size: 16px;
    color: var(--blue-dark);
    padding-top: 4px;
}
.recommended .cards .card-box .card-body p{
    font-size: 14px;
    color: var(--blue-dark);
    font-weight: 300;
    padding: 1rem 0;
}

/* =============
forms
=============== */
.form_title{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: red;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
}
.form-group label{
    font-size: 1rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.form-group .form-input{
    padding: 5px 20px;
    background: var(--blue-dark);
    color: var(--cyan-light);
    border: none;
    border-radius: 5px 0 5px 0;
}
.form-group input:focus{
    border: none !important;
}

/* ===============
    Products
    ============= */
.shop_items{
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    margin: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-auto-flow:dense;
}
.shop_items .shop_item{
    width: 100%;
    min-width: 300px;
    background: var(--white);
    height: 400px;
    margin: 10px;
    padding:10px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    transition: all .5s ease-in-out;
}
.shop_items .shop_item img{
    height: 70%;
    box-shadow: none;
}
.shop_items .shop_item .item_info{
    padding: 10px;
}
.shop_items .shop_item .item_info h5{
    font-size: 1.2rem;
    color: #222;
    font-weight: 500;
    line-height: 1.2;
    max-width: 100%;
    margin-bottom: 5px;
}
.shop_items .shop_item .item_info p{
    font-size: .8rem;
    color: var(--main-color);
    font-weight: 400;
    margin-bottom: 10px;
}
.shop_items .shop_item .item_info strong{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--primary-color);
}
.shop_items .shop_item .shop_cart{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: #222f;
    transition: all .3s ease-in-out;
}
.shop_items .shop_item:hover .shop_cart{
    visibility: visible;
    transition: all .3s ease-in-out;
}
.shop_items .shop_item .shop_cart svg path{
    width: 40px;
    height: 40px;
    font-size: 1px;
    color: #fff;
    display: block;
}

/* dashboard admin */
.side_bar{
    background-color:#18293c;
    padding: 20px 30px;
    height: 100%;
    overflow: hidden;
    left: 0;
    position: fixed;
    transition: 0.5s ease-in-out;
}
.side_bar ul{
    background-color: transparent;
    padding: 5px 15px;
    width: 100%;
    /* position: absolute; */
}
.side_bar ul li:first-child{
    pointer-events: none;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}
.side_bar ul li{
    padding:10px 0 20px;
    position: relative;
    list-style: none;
}
.side_bar ul li a{
    display: flex;
    position: relative;
    color: #eee;
    gap: 10px;
}
.main{
    width: calc(100% - 20rem);
    position: absolute;
    min-height: 100vh;
    transition: 0.5s ease-in-out;
    left: 20rem;
}
.main .topbar .user{
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main .topbar .user img{
    position: absolute;
    inset: 0;
    user-select: none;
}
.main .topbar .user img:hover + .sub_profile{
    display: block;
}
.main .topbar .user .sub_profile{
    position: absolute;
    top: 100%;
    z-index: 100;
    background-color: #18293c;
    padding: 10px;
    margin-top: 15px;
    display: none;
}
.main .topbar .user .sub_profile li{
    font-size: 15px;
    font-weight: 300;
    color: #fefefe;
    padding: 5px 10px;
}
.main .cardbox{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
}

/* main table */
.main .items_view{
    position: relative;
    min-height: 500px;
    border-radius: 20px;
    background-color: #fefefe;
    padding: 20px 25px;
    overflow-x: auto;
}
.main .items_view .table_name h4{
    font-size: 20px;
    color: #18293c;
    font-weight: 600;
    letter-spacing: 1px;
}
.main .items_view table{
    width: 100%;
    border-collapse: collapse;
}
.main .items_view  table tr{
    color: #0000ff;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 0 10px;
}
.main .items_view  table tr td{
    padding: 2px 10px;
    text-align:start;
    font-size: 14px;
    /* width: calc(100% / 6); */
}
.main .items_view table tbody tr:hover{
    background-color: #0000ff;
    color: #fff;
}
/* .main .items_view table tbody tr td:first-child{
    text-align: start;
} */
.main .items_view table tbody tr td :where(img){
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.main .items_view table tbody tr td img{
    width: 60px;
    height: 50px;
    background-position: center;
}
.main .items_view table tbody tr td a,
.main .items_view table tbody tr td .a{
    font-size: 12px;
    margin: 5px 2px;
    color: #fff;
    background-color: #18293c;
    padding: 4px 3px;
    border-radius: 5px;
}
@media screen and (max-width:991px) {
    .side_bar{
        left: -320px;
    }
    .main{
        width: 100%;
        left: 0;
    }
}

/* footer */
footer{
    padding: 20px 10px;
    min-height: 40vh;
}
footer .footer{
    display: flex;
    justify-content: space-around;
}
.footer .footer-item{
    padding: 0 10px;
    width: 250px;
}
.footer .footer-item h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #eee;
    border-bottom: 1px solid #cddc39;
}
.footer .footer-item p{
    font-size: 18px;
    word-wrap: break-word;
    color: #aef1ee;
    margin-top: 15px;

}
.footer .footer-item .links a li{
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--white);
    padding: 0px 10px;
    transition: all .4s ease-in-out;
}
.footer .footer-item .links a:hover li{
    margin-left: 15px;
    transition: all .4s ease-in-out;
}